pycache/

*.pyc

.env

venv/

.idea/

.vscode/

.DS_Store

dist/

build/

*.spec

asistencia.db

*.db

*.sqlite3

resources/pycache/

models/pycache/

controllers/pycache/

.pytest_cache/

.mypy_cache/